<%- include('../partials/header') -%>
  <%- include('../partials/navbar') -%>

    <div class="container">
      <div class="row mt-4">
        <div class="col-md-9 offset-md-1">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <%= event.title%>
              </h5>
              <p class="card-text">
                <%= event.description%>
              </p>
              <p class="card-text">
                <%= event.location%>
              </p>
              <p>
                <span class="badge bg-secondary">
                  <%= event.date.toDateString()%>
                </span>
              </p>
              <% if((user) && (event.userId==user.id)){%>
                <a href="/events/edit/<%= event._id%>" class="btn btn-primary">Edit</a>
                <button onclick="deleteEvent(this)" class="btn btn-danger" id="deleteBtn"
                  value="<%= event._id%>">Delete</button>
                <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') -%>